$primary-color: black;
$secondary-color: blue;
$accent-color-1: orange;
$accent-color-2: green;
$text-color: white;
$background-color: gray;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}