header {
    position: absolute;
    height: 8rem;
    width: 100%;
    top: 0;
    padding: 1rem;
    margin-bottom: .2rem;
    background-color: $primary-color;

    .account {
        img {
            position: absolute;
            height: 3rem;
            width: 3rem;
            top: 1.5rem;
            right: 8rem;
        }
    }

    .cart {
        img {
            position: absolute;
            height: 4rem;
            width: 4rem;
            top: 1rem;
            right: 2rem;
        }
    }

    .search {

        


        &-icon {

        }
    }
}