header {
    position: absolute;
    height: 8rem;
    width: 100%;
    top: 0;
    padding: 1rem;
    margin-bottom: .2rem;
    background-color: $primary-color;

    .account {
        object {
            float: right;
            position: absolute;
            height: 3rem;
            width: 3rem;
            top: 1.4rem;
            right: 8.5rem;

            @include transition-ease;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .cart {
        object {
            float: right;
            position: absolute;
            height: 4rem;
            width: 4rem;
            top: 1rem;
            right: 2.5rem;

            // @include transition-ease;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .search {

        


        &-icon {

        }
    }
}