@import './config';
@import './header';
@import './nav';
@import './index';

body {
    background-color: $background-color;
    color: $text-color;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1;
}

footer {
    font-size: 1rem;
    margin: 1rem auto;
    text-align: center;
    color: $text-color;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}